body {
    background-color: #44a4ff;
    /*.address div:first-of-type {*/
    /*text-align: right;*/
    /*}*/
    margin-top: 40px;
}

/*.address input:nth-of-type(odd) {
    margin-right: -4px;
}*/
.fromAddr, .toAddr {
    display: flex;
}

.itemData {
    min-width: 200px;
}

.item {
    padding: 15px 15px;
}

.itemWrapper, .headWrapper {
    padding: 20px 60px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
}

.btnRow {
    margin-top: 20px;
}

.remBtn,
.addBtn,
.submBtn {
    border-radius: 0;
}

.submBtn {
    float: right;
}

.pseudolabel {
    padding: 23px;
}

#from_country,
#to_country{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#from_addr,
#to_addr {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.itemSel {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}