body{
    /*background-color: #44a4ff;*/
}
/*.address div:first-of-type {*/
    /*text-align: right;*/
/*}*/

/*.address input:nth-of-type(odd) {
    margin-right: -4px;
}*/
.fromAddr,.toAddr {
    display: flex;
}

.itemData {
    min-width: 220px;
}
