body {
    background-color: #44a4ff;
    /*.address div:first-of-type {*/
    /*text-align: right;*/
    /*}*/
    margin-top: 40px;
}
/*.address input:nth-of-type(odd) {
    margin-right: -4px;
}*/
.fromAddr,.toAddr {
    display: flex;
}

.itemData {
    min-width: 200px;
}

.item {
    padding: 15px 15px;
}

.itemWrapper, .headWrapper {
    padding: 20px 60px;
   margin-bottom: 10px;
    border-radius: 10px;
    background: white;
}

.btnRow{
    margin-top: 20px;
}

.rembtn,
.addBtn,
.submBtn
{
    border-radius: 0;
}

.submBtn {
    float: right;
}


.pseudolabel {

    padding: 23px;
}